---
import type { MarkdownLayoutProps } from 'astro'
import { BaseLayout } from 'wtqdocs'
import '../custom.scss'

type Props = MarkdownLayoutProps<{
  title: string
  subtitle: string
  description: string
  sorry: string
  action: string
}>

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title ?? 'Not Found'} description={frontmatter.description}>
  <main id="main-content">
    <section class="hero">
      <h1 class="title">{frontmatter.title}</h1>
      {frontmatter.subtitle && <h2 class="subtitle">{frontmatter.subtitle}</h2>}
      <p>{frontmatter.sorry}
        <a
          style="cursor: pointer;"
          onclick="window.history.back()"
        >{frontmatter.action}</a>
      </p>
    </section>
  </main>
</BaseLayout>
