---
import "../docs.scss";
import "../styles/wathqny.scss";
import "wtqcode/style";

import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";

import WathqnyConfig from "../wathqny.config";

interface Props {
  title: string;
  description: string;
  keywords?: string;
}

const { favicon, siteName,image } = WathqnyConfig;

const { title, description, keywords } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href={favicon} type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="generator" content={Astro.generator} />
  <meta
    name="keywords"
    content={"fruitUI, fruit, ui, css, html, js, framework, library," +
      keywords}
  />
  <meta name="description" content={description} />
  <meta
    property="og:title"
    content={siteName ? title + " | " + siteName : "title"}
  />
  <meta property="og:type" content="documentaion" />
  <meta
    property="og:image"
    content={image}
  />
  <meta property="og:url" content={Astro.url} />
  <title>{siteName ? title + " | " + siteName : "title"}</title>
</head>
