---
import { getCollection } from "astro:content";
import ArrowIcon from "../components/ArrowIcon.astro";
const docs = await getCollection("docs");

const config = {
  categorys: ["intro", "components", "hoss"],
};

docs.sort((a, b) => (a.data.position > b.data.position ? 1 : -1));
---

<aside class="wtq-sidebar">
  <ul class="wtq-sidebar-category">
    {
      config.categorys.map((category) => {
        let classs = "wtq-active";
        return (
          <li
            class={classs}
            role="button"
            aria-labelledby={category}
            aria-label={category}>
            <a class={`wtq-sidebar-category-link ${classs}`} id={category}>
              {category} <ArrowIcon />
            </a>
            <ul class="wtq-sidebar-category-collapse">
              {docs.map((doc) => {
                return doc.data.category == category ? (
                  <li class="wtq-doc-list-item">
                    <a
                      class="wtq-doc-link"
                      href={"/" + category + doc.data.href}>
                      {doc.data.title}
                    </a>
                  </li>
                ) : null;
              })}
            </ul>
          </li>
        );
      })
    }
  </ul>
</aside>

<script lang="ts">
  const categoryItems = document.querySelectorAll(".wtq-sidebar-category li");

  categoryItems.forEach((categoryItem) => {
    const collapse = categoryItem.querySelector(
      ".wtq-sidebar-category-collapse"
    );
    const icon = categoryItem.querySelector(".wtq-sidebar-category-link");
    categoryItem?.addEventListener("click", () => {
      if (categoryItem.classList.contains("wtq-active")) {
        icon?.classList.remove("wtq-active");
        categoryItem?.classList.remove("wtq-active");
        collapse.style.maxHeight = null;
      } else {
        collapse.style.maxHeight = collapse.scrollHeight + "px";
        icon?.classList.add("wtq-active");
        categoryItem?.classList.add("wtq-active");
      }
    });

    if (categoryItem.classList.contains("wtq-active")) {
      collapse.style.maxHeight = collapse.scrollHeight + "px";
    }
  });
</script>
