---
import { getCollection } from "astro:content";
import ArrowIcon from "../components/ArrowIcon.astro";
import WathqnyConfig from "../wathqny.config";

const docs = await getCollection("docs");

const { sidebar } = WathqnyConfig;

docs.sort((a, b) => (a.data.position > b.data.position ? 1 : -1));
---

<aside class="wtq-sidebar">
  <div>
    <ul class="wtq-sidebar-category" role="tablist">
      {
        sidebar?.map((category) => {
          let activeClass = "";
          let cutUrl =
            "/" +
            Astro.url.pathname
              .split("/")
              .filter((url) => {
                if (url != "") {
                  return true;
                }
              })
              .reverse()[0];

          docs.map((doc) => {
            if (doc.data.href == cutUrl && doc.data.category == category) {
              activeClass = "wtq-active";
            }
          });
          return (
            // <Debug {cutUrl} />
            <li class={activeClass} role="tab">
              <span
                role="button"
                aria-expanded="false"
                tabindex="0"
                class={`wtq-sidebar-category-link ${activeClass}`}
                id={`${category}-category`}>
                {category.replace("-", " ")} <ArrowIcon />
              </span>
              <ul class="wtq-sidebar-category-collapse">
                {docs.map((doc) => {
                  return (
                    doc.data.category == category && (
                      <li class="wtq-doc-list-item">
                        <a
                          tabindex="-1"
                          class="wtq-doc-link"
                          href={
                            "/docs/" + category.toLowerCase() + doc.data.href
                          }>
                          {doc.data.title}
                        </a>
                      </li>
                    )
                  );
                })}
              </ul>
            </li>
          );
        })
      }
    </ul>
  </div>
</aside>

<script src="./sidebar.ts"></script>
