---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  let docs = await getCollection("docs");

  return docs.map((doc) => {
    return {
      params: { slug: doc.slug },
      props: { doc },
    };
  });
}

interface Props {
  doc: CollectionEntry<"docs">;
}

const { doc } = Astro.props;
const { authors } = doc.data;

const authorData = await getEntry("authors", authors?.id);

const { Content } = await doc.render();
---

<Layout 
title={doc.data.title} 
description={doc.data.description} 
keywords={doc.data.title}>
  <div class="wtq-container">
    <h1>{doc.data.title}</h1>
    <div class="">
      <Image width={48} height={48} src={authorData?.data.profile} alt="user avatar" />
      <div>
        <h2>{authorData?.data.name}</h2>
        <h3>{authorData?.data.role}</h3>
      </div>
    </div>
    <article>
      <Content />
    </article>
  </div>
</Layout>
