---
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import HomeIcon from "../../components/HomeIcon.astro"

export async function getStaticPaths() {
  let docs = await getCollection("docs");

  return docs.map((doc) => {
    return {
      params: { slug: doc.slug },
      props: { doc },
    };
  });
}

interface Props {
  doc: CollectionEntry<"docs">;
}

const { doc } = Astro.props;
const { authors } = doc.data;

const authorData = await getEntry("authors", authors?.id);

const { Content } = await doc.render();
---

<Layout
  title={doc.data.title}
  description={doc.data.description}
  keywords={doc.data.title}>
  <div class="wtq-page">
    <aside class="wtq-sidebar">
      <ul>
        <li>
          <a href={doc.slug}>overview</a><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M8.025 22L6.25 20.225L14.475 12L6.25 3.775L8.025 2l10 10l-10 10Z"
            ></path></svg
          >
        </li>
        <li><a>installation</a></li>
      </ul>
    </aside>

    <div class="wtq-container">
      <ul class="wtq-breadcrumbs">
        <a href="/" class="wtq-breadcrumb">
          <HomeIcon />
        </a>
        <a href="" class="wtq-breadcrumb">docs</a>
        <a href="" class="wtq-breadcrumb">overview</a>
      </ul>
      <h1>{doc.data.title}</h1>
      <div class="wtq-avatar-contanier">
        <Image
          class="wtq-avatar"
          width={48}
          height={48}
          src={authorData?.data.profile}
          alt="user avatar"
        />
        <div>
          <p class="wtq-avatar-name">{authorData?.data.name}</p>
          <p class="wtq-avatar-role">{authorData?.data.role}</p>
        </div>
      </div>

      <main>
        <article>
          <Content />
        </article>
      </main>
    </div>
  </div>
</Layout>
