---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import { Breadcrumbs, Layout } from "wtqdocs";
import { BlogLayout } from "wtqdocs/blog";

export async function getStaticPaths() {
  let posts = await getCollection("blog");

  return posts.map((post) => {
    return {
      params: { posts: post.data.tags.toLowerCase() + post.data.href },
      props: { post },
    };
  });
}

interface Props {
  post: CollectionEntry<"blog">;
  authors: CollectionEntry<"authors">;
}

const { post } = Astro.props;

const { authors } = post.data;

const authorData = await getEntry("authors", authors?.id!);

const { Content } = await post.render();
---

<BlogLayout>
  <Breadcrumbs />
  <article id="main-content">
    <span class="wtq-post-head">
      <h1 class="wtq-main-heading">{post.data.title}</h1>
      <div class="wtq-avatar-contanier">
        <Image
          class="wtq-avatar"
          width={48}
          height={48}
          src={authorData?.data.profile}
          alt="user avatar"
        />
        <div>
          <p class="wtq-avatar-name">{authorData?.data.name}</p>
          <p class="wtq-avatar-role">{authorData?.data.role}</p>
        </div>
      </div>
    </span>
    <Image
      class="wtq-cover"
      width={1280}
      height={720}
      src={post.data.OGImage}
      alt={"dwad"}
      loading="eager"
    />
    <Content />
  </article>
</BlogLayout>
