---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import { Breadcrumbs, Layout } from "wtqdocs";
import { BlogLayout, AuthorProfile } from "wtqdocs/blog";

export async function getStaticPaths() {
  let posts = await getCollection("blog");

  return posts.map((post) => {
    return {
      params: { posts: post.data.tags.toLowerCase() + post.data.href },
      props: { post },
    };
  });
}

interface Props {
  post: CollectionEntry<"blog">;
  authors: CollectionEntry<"authors">;
}

const { post } = Astro.props;

const { authors } = post.data;

const authorData = await getEntry("authors", authors?.id!);

const { Content } = await post.render();
---

<BlogLayout>
  <Breadcrumbs />
  <article id="main-content">
    <span class="wtq-post-head">
      <h1 class="wtq-main-heading">{post.data.title}</h1>
      <AuthorProfile name={authorData.data.name} role={authorData.data.role} image={authorData.data.profile} />
    </span>
    <Image
      class="wtq-cover"
      width={1280}
      height={720}
      src={post.data.OGImage}
      alt={"dwad"}
      loading="eager"
    />
    <Content />
  </article>
</BlogLayout>
